
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY RESUME</title>
    <link rel="stylesheet" href="{{url_for('static',filename='files/css/style.css')}}">

</head>
<body>
    <div class="main-container">

        <div class="rightbox">
            <div class="name-con">
                <h2>mathan</h2>
                <h5>python full stack developer</h5>
            </div> 

            <div class="education-rightside">
                <div class="education-right">
                    <h2>objective</h2>
                    <p>To associate with vibrant organization and put
                        my competencies to the best use to add value to
                        the organization and contributes to my overall
                        growth.
                    </p>
                </div>
                <div class="education">
                    <div class="educatin-left">
                        <h2>education</h2>
                        <p>sree saraswathi theyagaraja college</p>
                        <p>B.com 2019(pass out)</p>
                    </div>
                </div>

                <div class="project-lefesied">
                    <div class="project-left">
                        <h2>projects</h2>
                        <p>build a digital resume using python & html,css</p>
                        
                        <p>python rendam possword genderter project</p>
                    </div>
                </div>
                <div class="certification-leftside">
                    <div class="certication-left">
                        <h2>CRETIFICATIONS</h2>
                        <P>certication for advanced 
                        python full stack development at 
                        xplore it, coimbatore(2022)</P>
                    </div>
                </div>
            </div>
        </div>


    
        <div class="contact_lifeside">
            <div class="contact_life">
                <h2>contact</h2>
                <p>mobile : 8220269185</p>
                <p>gmail : mathans0111@gmail.com</p>
                <p>address : 5/25,thatco colony,pollachi</p>           

            </div>
            <div class="skils-rightside">
                <div class="skiles-right">
                    <h2>skills</h2>
            
                    <h3>1.python</h3>
                   
                    <h3>2.html</h3>
                    
                    <h3>3.css</h3>
                    <h3>4.sqlite3</h3>
                </div>
            </div>
            <div class="languges-rightside">
                <div class="languges-right">
                    <h2>LANGUAGES</h2>
                    <p>ENGLISH</P>
                    <br>
                    <P>TAMIL </P>
                </div>
            </div>
        </div>

    </div>
    
        

       
        
    


    
       

        
</body>
</html>

